.container {
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to left,
    var(--primary-color),
    var(--accent-color)
  );
}

.about-me {
  width: 80vw;
  height: 30rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.3em;
  background-color: var(--background-color);
  z-index: 10;

  @media (width > 48em) {
    width: 60vw;
    height: 20rem;
  }
}

.details {
  display: flex;
  height: 5rem;
}

.my-photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  & img {
    width: 5rem;
    border-radius: 50%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 1rem;

  & h2 {
    text-align: start;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  @media (width > 48em) {
    margin-left: 2rem;
  }
}

.info-location {
  display: flex;
  margin-bottom: 0.5rem;

  & span {
    padding-left: 2px;
  }

  @media (width > 48em) {
    & span {
      padding: 5px;
    }
  }
}

.socials-container-mobile {
  margin-top: 5px;
  margin-left: 5px;

  & svg {
    fill: var(--secondary-color);
  }
}

@media (width > 48em) {
  .socials-container-mobile {
    display: none;
  }
}

.socials-container-desktop {
  display: none;

  & svg {
    fill: var(--secondary-color);
  }
}

@media (width > 48em) {
  .socials-container-desktop {
    display: flex;
    align-items: center;
  }
}

.description {
  display: flex;
  margin-top: 2.5rem;
  text-align: justify;
}

.more-button {
  z-index: 10;
  margin-top: 2rem;
}
