.container-skills {
  min-height: calc(100vh - var(--header-height));
  background: linear-gradient(
    to left,
    var(--primary-color),
    var(--accent-color)
  );
  scroll-margin-top: var(--header-height);
}
