@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

:root {
  --color: #333;
  --secondary-color: #f5deb3;
  --header-height: 96px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Red Hat Text', sans-serif;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  color: wheat;
}

p {
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
}

h3 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 1em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--secondary-color);

  @media (width > 48em) {
    width: 2rem;
    height: 2rem;
  }
}

.link-as-button {
  display: inline-block;
  padding: 1em 3.5em;
  background-color: var(--color);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 0.875rem;
}
