@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

:root {
  --background-color: #333;
  --text-color: #fff;
  --primary-color: #28505b;
  --secondary-color: #bc6c29;
  --accent-color: #d8e1e3;
  --header-height: 96px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 0.9rem;
  margin: 0;
  color: var(--accent-color);
}

h2 {
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
}

p {
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
  color: var(--text-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--accent-color);

  @media (width > 48em) {
    width: 2rem;
    height: 2rem;
  }
}

.link-as-button {
  display: inline-block;
  padding: 1em 3.5em;
  background-color: var(--secondary-color);
  opacity: 0.9;
  color: var(--accent-color);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 0.875rem;
}

@media (width > 48em) {
  body {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}
